version: 1

formatters:
  simple:
    format: '%(message)s'

handlers:
  clogfile:
    backupCount: 10
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    delay: true
    filename: /tmp/null-log_file
    formatter: simple
    level: NOTSET
    maxBytes: 1048576

  console:
    class: logging.StreamHandler
    formatter: simple
    level: NOTSET
    stream: ext://sys.stdout

  Infinite_handler:
    class: utils.cloghandler.ConcurrentRotatingFileHandler
    level: NOTSET
    maxBytes: 9223372036854775807
    backupCount: 2147483648
    delay: true
    filename: /tmp/null-log_file
    formatter: simple

loggers:
  main:
    handlers: [clogfile]
    level: NOTSET
    propagate: true

  Infinite:
    handlers: [Infinite_handler]
    level: NOTSET
    propagate: false

root:
  handlers: [console]
  level: NOTSET
